<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="author" content="Codecool" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Codecool Shop</title>

  <!-- Bootstrap components -->
  <!-- Latest compiled and minified Jquery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <!--Latest compiled and minified Popper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
          integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- End of Bootstrap components -->

  <link rel="stylesheet" type="text/css" href="/static/css/product.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
  <script src="/static/javascript/navbar.js"></script>
  <script src="/static/javascript/cart.js"></script>

</head>

<body>

<div class="jumbotron text-center">
  <a href="/">
    <img class="top-background"  src="/static/img/top_background.png" alt="Top Background" />
  </a>
</div>

<div th:replace="user-cart.html :: copy"></div>
<div th:replace="navbar.html :: copy"></div>

  <div class="product-container">
    <div class="product-image">
      <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt=""  />
    </div>
    <div class="product-information">
      <h4 class="product-title">
        <span th:text="${prod.name}"></span>
      </h4>
      <p class="card-text" th:text="${prod.description}">Product description... </p>
    <div class="product-price">
      <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
    </div>
    <div class="cart-button">
      <p class="btn btn-success" th:attr='onclick=|addProduct("${prod}")|' th:text="${'ADD to cart: '+prod.name}">Add to cart</p>
    </div>
    </div>
  </div>

</div>


<div th:replace="footer.html :: copy"></div>

</body>
</html>